################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/services/SS.Identity.API/obj
/src/services/SS.Identity.API/bin
/.vs
